/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */

.content {
  /* margin-left: 5rem; */
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  /* overflow: hidden; */
  overflow: scroll;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  max-height: 100%;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#ccDebtTable, #budget, td, th {
  margin-left: 5rem;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 205px;
  overflow: hidden;
  text-align: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlaycontent {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  display: flex; 
  flex-direction: column;
  align-items:center; 
}


input[type=numberif], input[type=textif] {
  visibility:hidden;
}

input[type=checkbox]:checked + input[type=numberif], input[type=checkbox]:checked + input[type=textif] {
  visibility:visible;
}

/* #budgetwrapper {
  border: 1px solid blue;
  display: flex; 
} */

#budgetwrapper {
  margin-left: 5rem;
  max-width:1600px;
  /* border: 1px solid blue; */
  display: flex; 
  flex-direction: row;
  align-items:center; 
}

#budget{
  /* width: 290px; */
  margin: 5px;
  float:left;
}

#piechart{
  margin: 5px;
  float: right;
}

input { 
  text-align: center; 
}