:root {
  font-family: sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  size: x-large;
  margin:0;
  margin-left: 5rem;
}
header {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#addCard {
  margin-right: 5rem;
  gap: 0.5rem;
  display: flex;
}
#cardTitle {
  width: 20em;
}
#cardColor {
  width: 8em;
}
#addButton {
  background-color: lightgreen;
  padding: 0.25rem 1rem;
}
#board {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  flex-grow: 1;
}
.section {
  display: flex;
  flex-direction:column;
  flex: 1;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}
#todo, #done {
  background-color: #f0f0f0;
}
.sectionTitle {
  padding: 1rem 1rem 0 1rem;
}
.card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}
.card .title {
  /* padding: 0; */
  margin: 0;
}
.buttons {
  display: none;
}
.card:hover .buttons{
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}