:root {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  size: x-large;
  margin:0;
  margin-left: 5rem;
}

header {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.disclaimer {
  width:100%;
  position:absolute;
  bottom:2.5rem;
  left:0;
  font-size: 14px;
  inline-size: 100%;
  overflow: hidden;
}

footer {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:2.5rem;
  position:absolute;
  bottom:0;
  left:0;
}

footer a {
  color: white;
}

button, input {
  font-size: 16px;
}

textarea {
  font-size: 16px;
  width: 100%;
  height: 5em;
  font-family: inherit;
  background-color: inherit;
}

.edit, .startMove, .delete {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.edit:hover, .startMove:hover, .delete:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

p, form, ul {
  margin-left: 5rem;
  margin-right: 5rem;
}